.menu {
    text-align: center;
}

.menu li {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;

}

.menu a {
    margin: 20px;
    color: #16a085;
    text-decoration: none;

}