body{
    font-family: 'Arimo', sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.main-background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a4965;
    width: 1192px;
    height: 736px;
}
table{
    width:100%;
    border-spacing: 0;
}
.main-table{
    width: 1140px;
    background-color: #ffffff;
}
tr, td {
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);
}
.main-rows{
    height: 70px;
}
.sub-rows{
    height: 90px;
}
.green{
    background-color: #89c331;
}
.red{
    background-color: #f04a56;
}
.blue{
    background-color: #20807c;
}
.col1{
    width: 310px;
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);
}
.all-cols{
    display: inline;
    color:  #ffffff;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}
.col2, .col4{
    font-size: 24px;
}
.col3{
    font-size: 30px;
}
.text{
    color:  #484848;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}
.text-row1{
    font-size: 18px;
    margin-top: 26px;
}
.text-row2{
    font-size: 30px;
    margin-top: -17px;
}
.price{
    color:  #484848;
    font-size: 60px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    float: left;
    margin-top: 25px;
    margin-left: 26px;
    margin-bottom: 35px;
}
.price-cent{
    color:  #484848;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    margin-left: 10px;
    margin-top: 12px;
}
.per-month{
    color:  #484848;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-top: -23px;
}
.rows{
    height: 69px;
    text-align:center;
}
.rows > td{
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.fas, .far{
    color:  #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
}
.light-grey{
    background-color:  #f2f2f2;
}
.dark-grey{
    background-color:  #e3e3e3;
}
.footer{
    text-align: center;
    vertical-align: middle;
    margin: 15px 0;
}
.footer-button-all{
    padding: 18px;
    margin: 25px 0;
    border-radius: 5px;
    color: #ffffff;
    width: 192px;
    height: 49px;
    cursor: pointer;
}
.button1{
    border: solid #404040;
    background-color: #484848;
    border-width: 0 0 5px 0;
}
.button2{
    border: solid #79b027;
    background-color: #89c331;
    border-width: 0 0 5px 0;
}
.button3{
    border: solid #df3a46;
    background-color: #f04a56;
    border-width: 0 0 5px 0;
}
.button4{
    border: solid #16736f;
    background-color: #20807c;
    border-width: 0 0 5px 0;
}
.button1:hover{
    border: solid #484848;
    border-width: 0 0 5px 0;
    background-color: #404040;
}
.button2:hover{
    border: solid #89c331;
    border-width: 0 0 5px 0;
    background-color: #79b027;
}
.button3:hover{
    border: solid #f04a56;
    border-width: 0 0 5px 0;
    background-color: #df3a46;

}
.button4:hover{
    border: solid #20807c;
    border-width: 0 0 5px 0;
    background-color: #16736f;
}