body {
    margin: 0px auto;
    max-width: 1280px;
}
.logo {
    font-size: 80px;
    margin-bottom: 29px;
}
.logo span {
    color: #000000;
}
.logo a {
    text-decoration: none;
    color: #4bcaff;
}
.menu-top {
    display: block;
    width: 1280px;
    background-color: #35444f;
}
.menu-top ul {
    padding: 21px;
    text-align: center;
}
.menu-top li {
    display: inline;

}
.menu-top a {
    padding: 21px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
.menu-top a:hover {
    background: #222f3a;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
}
.menu-left {
    width: 344px;
    float: left;
    border: 1px #35444f solid;
    margin-top: 35px;
}
.menu-left ul {
    padding: 0;
    margin: 0;
}

.menu-left li {
    list-style-type: none;
}
.menu-left a {
    color: #485863;
    display: block;
    font-size: 27px;
    line-height: 80px;
    text-decoration: none;
    padding-left: 43px;
}
.menu-left a:hover {
    background-color: #dbdbdb;
    padding-left: 69px;
}
.content {
    display: inline-block;
    width: 884px;
    margin: 35px 0 21px 50px;
}
.img_wrapper {
    text-align: center;
    border: 1px #35444f solid;
    padding: 75px 268px 73px 297px;
    overflow:hidden;
    width: 320px;
    height:381px;
}
.img_wrapper img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.img_wrapper img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.content p {
    color: #2c2c2c;
    font-size: 18px;
    line-height: 24px;
    margin: 30px;
}

.menu-bottom {
    display: block;
    width: 1280px;
    background-color: rgba(99, 105, 110, 0.48);
}
.menu-bottom ul {
    padding: 19px 34px 18px 44px;;
}
.menu-bottom li {
    display: inline;

}
.menu-bottom a {
    padding: 21px;
    color: #0c1927;
    text-decoration: none;
    font-size: 28px;
}
.menu-bottom a:hover {
    color: #3181a6;
    text-decoration: underline;
}