body {
    font-family: Verdana sans-serif;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
}

.container {
    height: 768px;
    background-image: url('../img/background.png');
}

header {
    padding-top: 50px;
}

header a {
    color: #fff;
}

header a:hover {
    color: #f26522;
}

.logo {
    width: 46px;
    height: 44px;
    margin-left: 155px;
    float: left;
    background-image: url(../img/logo_sprites.png);
    background-position: -10px -11px;
}
.logo:hover{
    background-image: url(../img/logo_sprites.png);
    background-repeat: no-repeat;
    background-position: -76px -11px;
}

.logo p {
    font-size: 29px;
    font-weight: 700;
    margin-left: 59px;
    margin-top: -4px;
}

.logo span {
    font-size: 18px;
    font-weight: 700;
    display: block;
}

.header_email {
    color: #fff;
    margin-top: 8px;
    text-align: right;
    padding-right: 147px;
    font-size: 18px;
}

.header_phone {
    color: #fff;
    margin-top: -15px;
    text-align: right;
    padding-right: 148px;
    font-size: 18px;
}

.content {
    width: 100%;
    padding-top: 29px;
}

.product-item {
    float: left;
    margin: auto 35px;
}

.product-item:first-child {
    margin-left: 117px;
}

.link {
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.link:hover {
    color: #f26522;
}

.first-line {
    margin: 0;
    display: inline-block;
    list-style-type: none;
}

.second-line {
    margin-top: 33px;
    display: inline-block;
    list-style-type: none;
}

.image {
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid white;
    box-shadow: 0 17px 24px #000000;
    border-image: linear-gradient(to bottom, #cccccc, rgba(0, 0, 0, 0.05)) 1 49%;
}

.wrap {
    position: relative;
    cursor: pointer;
}

.wrap-span {
    background-color: rgba(242, 101, 34, 0);
    top: 155px;
    transition-duration: 1s;
    padding: 10px 0;
    position: absolute;
    display: none;
    color: #fff;
    line-height: 16px;
    margin-top: -12px;
    width: 100%;
    height: 39px;
}

.wrap:hover span {
    background-color: rgba(242, 101, 34, 1);
    display: block;
}

.text-from {
    font-size: 10px;
    margin-left: -240px;
    margin-top: 1px;
}

.text-price {
    font-size: 20px;
    margin-left: -225px;
    margin-top: -10px;
}

.text-details {
    text-align: right;
    font-size: 14px;
    margin-right: 15px;
    margin-top: -33px;
}

.text-details:after {
    content: '\00A0  \02C3';
    font-size: 14px;
    color: #cccccc;
}

footer {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}